@font-face {
  src: url("../assets/fonts/Segoe\ MDL2\ Assets.woff2") format("woff2");
  font-family: "Segoe MDL2 Assets";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Segoe MDL2 Assets", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 40%;
  background-color: #274b47;
  padding: 30px 50px;
}

.left--height100 {
  min-height: 100vh;
}

.right {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

.right-img img {
  width: 100%;
  object-fit: cover;
}

.button-white {
  border-radius: 2px;
  font-size: 18px;
  color: #0178D4;
  background-color: #fff;
}

.button-blue {
  border-radius: 2px;
  font-size: 18px;
  color: #fff;
  background-color: #0178D4;
  transition: color 0.3s, background-color 0.3s
}

.button-blue:hover {
  color: #0178D4;
  background-color: #fff;
}

.button-green {
  border-radius: 2px;
  font-size: 18px;
  color: #fff;
  background-color: #319800;
  transition: color 0.3s, background-color 0.3s
}

.button-green:hover {
  color: #319800;
  background-color: #fff;
}

.main-title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 56px;
  color: #30e6d0;
}

.main-descr {
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 120%;
  color: #fff;
}

.main-descr a {
  text-decoration: underline;
  color: #30e6d0;
}

.main-descr p:not(:last-child) {
  margin-bottom: 20px;
}

.main-button {
  margin-top: auto;
  max-width: 400px;
  height: 60px;
}

.main-img {
  display: block;
  width: 100%;
  object-fit: cover;
  flex-grow: 1;
}

.question {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.question__caption {
  display: block;
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
}

.question__list {
  margin-bottom: 70px;
}

.question__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.answer {
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 0 40px;
  height: 120px;
  background-color: rgba(0 133 116 / 30%);
  user-select: none;
  transition: background-color 0.3s ease-in-out;
}

.answer__input {
  position: absolute;
  opacity: 0;
}

.answer__icon {
  margin-right: 15px;
}

.answer__caption {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
}

.answer__caption::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 40px;
  margin-left: 6px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  outline: 1px solid #fff;
  outline-offset: 5px;
  transition: background-color 0.3s ease-in-out;
}

.answer:hover {
  background-color: #008574;
}

.answer:has(.answer__input:checked) {
  background-color: #008574;
  pointer-events: none;
}

.answer__input:checked + .answer__caption::before {
  background-color: #fff;
}

.question__bottom {
  display: flex;
  gap: 15px;
  margin-top: auto;
}

.question__btn {
  height: 60px;
}

.question__btn--white {
  width: 200px;
}

.question__btn--blue {
  width: 100%;
}

.title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 56px;
  color: #30e6d0;
}

.descr {
  font-size: 36px;
  line-height: 120%;
  color: #fff;
}

.products-container {
  display: flex;
  flex-direction: column;
  padding: 60px;
  min-height: calc(100vh - 180px);
  height: 100%;
  background-color: #f5f5f5;
}

.products {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px 40px;
  margin-bottom: 40px;
}

.products--grid {
  padding: 55px 35px;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

.products__item {
  grid-column: 4 span;
  border: 2px solid #c7c7c7;
  border-radius: 2px;
  padding: 40px;
  background-color: #fff;
}

.products__item img {
  margin-bottom: 25px;
  width: 100%;
  height: auto;
}

.products__item--big {
  display: flex;
  grid-column: 8 span;
  grid-row: 2 span;
}

.products__item--big img {
  max-width: 520px;
  height: auto;
  object-fit: cover;
}

.products__answer-input {
  position: absolute;
  opacity: 0;
}

.products__answer-caption {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #000;
}

.products__answer-caption::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 15px;
  margin-left: 5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  outline: 1px solid #000;
  outline-offset: 4px;
  transition: background-color 0.3s ease-in-out;
}

.products__answer-input:checked + .products__answer-caption::before {
  background-color: #000;
}

.products-info {
  margin-left: 60px;
}

.products-info__item:not(:last-child) {
  margin-bottom: 40px;
}

.products-info__name {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  color: #747474;
}

.products-info__descr {
  font-size: 16px;
  color: #272727;
}

.products-container__bottom {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: auto;
}

.products-container__btn {
  height: 60px;
}

.products-container__btn--white {
  width: 200px;
}

.products-container__btn--blue {
  width: 400px;
}




.alert__caption {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}

.alert__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 60px;
}

.alert__descr {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 28px;
  color: #fff;
}

.alert__more-info {
  margin-bottom: 60px;
  font-size: 28px;
  line-height: 120%;
  color: #fff;
}

.alert__more-info a {
  text-decoration: underline;
}

.alert__bottom {
  display: flex;
  gap: 15px;
  margin-top: auto;
}

.alert__btn {
  height: 60px;
}

.alert__btn--white {
  width: 100px;
}

.alert__btn--blue {
  flex-grow: 1;
}

.alert__btn--green {
  flex-grow: 1;
}

.right__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.versions-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 60px;
  background-color: #f5f5f5;
}

.versions-list--big {
  grid-template-columns: repeat(4, 1fr);
}

.versions-item {
  width: 100%;
  border: 1px solid #c7c7c7;
  padding: 40px;
  background-color: #fff;
}

.versions-list--big .versions-item {
  padding: 20px;
}

.versions-item__img {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

.versions-item__caption {
  display: block;
  font-size: 18px;
  line-height: 120%;
  color: #272727;
  text-align: center;
}

.versions-list--big .versions-item__caption {
  text-align: left;
}

.signs-list-wrapper {
  height: 100%;
  padding: 60px;
  background-color: #f5f5f5;
}

.signs-list {
  height: 100%;
  border: 1px solid #c7c7c7;
  padding: 40px;
  background-color: #fff;
  
}

.signs-item:not(:last-child) {
  margin-bottom: 40px;
}

.signs-item__text {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 120%;
  color: #272727;
}

.signs-item__text::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 16px;
  width: 36px;
  height: 36px;
  background-image: url("../assets/images/svg/check_blue.svg");
}

.signs-item__warning {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 120%;
  background-color: #e9e9e9;
}

.signs-item__warning::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url("../assets/images/svg/Info_fill.svg");
}

@media screen and (max-width: 1530px) {
  .container {
    flex-direction: column-reverse;
  }

  .left {
    padding: 40px 15px;
  }

  .left--height100 {
    min-height: 0;
    padding: 40px 15px;
  }

  .main-title {
    font-size: 48px;
  }

  .main-descr {
    font-size: 20px;
  }

  .products {
    grid-template-columns: repeat(8, 1fr);
  }

  .products-container__bottom {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .versions-item {
    padding: 20px;
  }

  .versions-item__caption {
    font-size: 14px;
  }

  .products__item {
    grid-column: 8 span;
  }

  .products-info {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .versions-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .alert__caption {
    font-size: 28px;
  }

  .alert__descr {
    font-size: 16px;
  }

  .alert__more-info {
    font-size: 16px;
  }

  .title {
    font-size: 36px;
  }

  .descr {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .question__caption {
    font-size: 24px;
  }

  .answer {
    height: 100px;
    padding: 0 15px;
  }

  .products-container {
    padding: 15px;
  }

  .products__item {
    padding: 20px;
  }

  .products__answer-caption {
    font-size: 14px;
  }
}